.searchBtn {
    position: relative;
    background: none;
    border: none;
    color: var(--text-primary);
    cursor: pointer;
    transition: color 0.18s ease;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBtn span {
    padding-bottom: 0.1rem;
}

.searchBtn span::before {
    transition: all 0.18s ease;
    color: var(--text-muted);
    font-size: 1rem;
}

.searchBtn:hover span::before {
    color: var(--text-secondary);
}

.iconClose {
    display: block;
}

.iconClose::before,
.iconClose::after {
    content: '';
    position: absolute;
    background-color: var(--text-muted);
    height: 2px;
    width: 100%;
    left: 0;
}

.searchBtn:hover .iconClose::before,
.searchBtn:hover .iconClose::after {
    background-color: var(--text-primary);
}

.iconClose::before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.iconClose::after {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}